{% extends "base.html" %}
{% block title %}Analizador{% endblock %}

{% block contenido %}
<div class="container my-5">
  <h3 class="text-center mb-4">Analizador de recetas</h3>

<div class="text-center mb-4">
  <p class="text-muted">
    El Analizador de Recetas de NutriApp es una herramienta que calcula automáticamente el contenido nutricional de cualquier platillo que escribas.
    Utiliza la base de datos oficial del USDA (Departamento de Agricultura de EE. UU.), que contiene miles de alimentos con sus valores reales.</p>
  </div>

  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Ingresa los ingredientes:</label>
      <textarea name="receta" class="form-control" rows="5" required></textarea>
    </div>
    <button class="btn btn-warning">Analizar</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if resultado %}
    <h4 class="mt-4">{{ resultado }}</h4>

    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Ingrediente</th>
          <th>Calorías</th>
          <th>Proteína (g)</th>
          <th>Carbohidratos (g)</th>
          <th>Grasas (g)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in datos_finales %}
        <tr>
          <td>{{ item.nombre }}</td>
          <td>{{ item.calorias }}</td>
          <td>{{ item.proteina }}</td>
          <td>{{ item.carbohidratos }}</td>
          <td>{{ item.grasas }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4 class="mt-4">Totales de la receta</h4>
    <ul>
      <li>Calorías: {{ totales.calorias }}</li>
      <li>Proteína total: {{ totales.proteina }} g</li>
      <li>Carbohidratos totales: {{ totales.carbohidratos }} g</li>
      <li>Grasas totales: {{ totales.grasas }} g</li>
    </ul>

  {% endif %}

</div>
{% endblock %}



