{% extends "base.html" %}
{% block contenido %}
<div class="container my-5">
  <h3 class="text-center mb-4">Calculadora de Índice de Masa Corporal (IMC)</h3>

  <div class="text-center mb-4">
    <p class="text-muted">Permite conocer la relación entre el peso y la altura de una persona.
      El resultado indica si alguien tiene un peso bajo, normal, sobrepeso o obesidad según rangos establecidos.</p>
    </div>

  <form method="post" class="mx-auto" style="max-width:400px;">
    <div class="mb-3">
      <label class="form-label">Peso (kg):</label>
      <input type="number" name="peso" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Altura (cm):</label>
      <input type="number" name="altura" class="form-control" required>
    </div>
    <button class="btn btn-warning w-100">Calcular</button>
  </form>

  {% if resultado %}
  <div class="alert alert-info text-center mt-4">{{ resultado }}</div>
  {% endif %}
</div>
{% endblock %}
