{% extends "base.html" %}
{% block content %}
<div class="container my-5">
  <h3 class="text-center mb-4">Calculadora de Macronutrientes</h3>
  <form method="post" class="mx-auto" style="max-width:400px;">
    <div class="mb-3">
      <label class="form-label">Calorías diarias (kcal):</label>
      <input type="number" name="calorias" class="form-control" required>
    </div>
    <button class="btn btn-warning w-100">Calcular</button>
  </form>

  {% if resultado %}
  <div class="alert alert-info text-center mt-4">{{ resultado }}</div>
  {% endif %}
</div>
{% endblock %}
