{% extends "base.html" %}
{% block title %}Peso Ideal{% endblock %}
{% block contenido %}
<div class="container my-5">
  <h3 class="text-center mb-4">Calculadora de Peso Corporal Ideal</h3>

<div class="text-center mb-4">
  <p class="text-muted">La calculadora de Peso Ideal de NutriApp te proporciona un rango estimado de peso saludable basado en tu estatura.
     Usa fórmulas reconocidas como la de Devine o Hamwi para ofrecer una referencia personalizada.
     Ayuda a comprender cuál es un objetivo razonable de peso para tu estructura física y evitar metas poco realistas.</p>
  </div>

<form method="POST">
  <div class="mb-3"><label>Altura (cm):</label><input name="altura" type="number" class="form-control" required></div>
  <div class="mb-3">
    <label>Sexo:</label>
    <select name="sexo" class="form-select" required>
      <option>Masculino</option>
      <option>Femenino</option>
    </select>
  </div>
  <button class="btn btn-warning">Calcular</button>
</form>
{% if resultado %}
<div class="alert alert-success mt-3">{{ resultado }}</div>
{% endif %}
{% endblock %}
