{% extends "base.html" %}
{% block title %}Peso Ideal{% endblock %}
{% block contenido %}
<h4>Peso Ideal</h4>
<form method="POST">
  <div class="mb-3"><label>Altura (cm):</label><input name="altura" type="number" class="form-control" required></div>
  <div class="mb-3">
    <label>Sexo:</label>
    <select name="sexo" class="form-select" required>
      <option>Masculino</option>
      <option>Femenino</option>
    </select>
  </div>
  <button class="btn btn-warning">Calcular</button>
</form>
{% if resultado %}
<div class="alert alert-success mt-3">{{ resultado }}</div>
{% endif %}
{% endblock %}
