{% extends "base.html" %}
{% block title %}Plantillas Descargables{% endblock %}

{% block contenido %}
<div class="container my-5">

    <h2 class="text-center text-warning fw-bold mb-4">
        Plantillas descargables
    </h2>

    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="fw-bold">Ejercicios básicos</h5>
            <a href="{{ url_for('static', filename='PLANTILLASDE EJERCISIOS.pdf') }}"
               class="btn btn-warning mt-2"
               download>
               Descargar PDF
            </a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="fw-bold">Riltros de Recetas de Busqueda</h5>
            <a href="{{ url_for('static', filename='filtros_recetas.pdf') }}"
               class="btn btn-warning mt-2"
               download>
               Descargar PDF
            </a>
        </div>
    </div>
    </div>

</div>
{% endblock %}
