from flask import Flask, render_template, request, jsonify
import requests

app = Flask(__name__)
app.secret_key = "tu_clave"


USDA_SEARCH_URL = "https://api.nal.usda.gov/fdc/v1/foods/search"
API_KEY = "LgHJdzvsfDQ0jcffIyAVRLu3hbTg2tpUG7AJ4d3M"

@app.route('/')
def index():
    return render_template("index.html")

@app.route('/buscar', methods=['POST'])
def buscar():
    texto = request.form.get("texto", "")

    params = {
        "query": texto,
        "api_key": API_KEY
    }

    response = requests.get(USDA_SEARCH_URL, params=params)

    print("URL consultada:", response.url)
    print("Respuesta:", response.text)

    if response.status_code == 200:
        data = response.json()
        return render_template("resultado.html", datos=data, busqueda=texto)
    else:
        return jsonify({"error": "No se pudo obtener datos de la API"}), 500

if __name__ == '__main__':
    app.run(debug=True)